@font-face {
  font-family: "DejaVuSansBook";
  src: url("../../fonts/DejaVu-Sans-Book.ttf");
}
@font-face {
  font-family: "DejaVuSansBold";
  src: url("../../fonts/DejaVuSans-Bold.ttf");
}
@font-face {
  font-family: "DejaVuSansExtraLight";
  src: url("../../fonts/DejaVu-Sans-ExtraLight.ttf");
}
@font-face {
  font-family: "Dock11";
  src: url("../../fonts/dock11.ttf");
}
@font-face {
  font-family: "KanitBold";
  src: url("../../fonts/Kanit-Bold.ttf");
}
@font-face {
  font-family: "MontHeavy";
  src: url("../../fonts/Mont-Heavy.ttf");
}
