.authent {
  display: none;
  background: #35394a;

  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#35394a", endColorstr="#1f222e",GradientType=1 );
  position: absolute;
  left: 0;
  right: 90px;
  margin: auto;
  width: 100px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px 70px;
  top: 200px;
  bottom: 0;
  height: 70px;
  opacity: 0;
}
.authent p {
  text-align: center;
  color: white;
}
.success {
  display: none;
  color: #d5d8e2;
}
.success p {
  font-size: 14px;
}
p {
  color: #5b5e6f;
  font-size: 10px;
  text-align: left;
}
.testtwo {
  left: -320px !important;
}
.test {
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  pointer-events: none;
  top: -100px !important;
  transform: rotateX(70deg) scale(1) !important;
  opacity: 0.6 !important;
  filter: blur(1px);
}
.login {
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
  transition-property: transform, opacity, box-shadow, top, left;
  transition-duration: 0.5s;
  transform-origin: 161px 100%;
  transform: rotateX(0deg);
  width: 100%;
  border-top: 2px solid #d8312a;
  height: 69%;
  margin: auto;
  top: 0;
  background: #35394a;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#35394a", endColorstr="#1f222e",GradientType=1 );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .validation {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 6px;
  opacity: 0;
}
.login .disclaimer {
  position: absolute;
  bottom: 20px;
  left: 35px;
  width: 250px;
}
.login_title {
  color: #afb1be;
  height: 60px;
  text-align: left;
  font-size: 16px;
}
.login_fields {
}
.login_fields .icon {
  position: absolute;
  z-index: 1;
  left: 36px;
  top: 8px;
  opacity: 0.5;
}
.login_fields input[type="password"] {
  color: #dc6180 !important;
}
.login_fields input[type="text"],
.login_fields input[type="password"] {
  color: #afb1be;
  width: 90%;
  margin: 0 auto;
  margin-top: -2px;
  background: #32364a;
  left: 0;
  padding: 10px 65px;
  border-top: 2px solid #393d52;
  border-bottom: 2px solid #393d52;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: "Gudea", sans-serif;
  box-shadow: none;
}
.login_fields__user,
.login_fields__password {
  position: relative;
  margin-bottom: 15px;
}
.login_fields__submit {
  position: relative;
  top: 35px;
  left: 0;
  width: 80%;
  right: 0;
  margin: 0 auto;
}
.login_fields__submit .forgot {
  float: right;
  font-size: 10px;
  margin-top: 11px;
  text-decoration: underline;
}
.login_fields__submit .forgot a {
  color: #606479;
}
.login_fields__submit input {
  border-radius: 50px;
  background: transparent;
  padding: 10px 50px;
  border: 2px solid #dc6180;
  color: #dc6180;
  text-transform: uppercase;
  font-size: 11px;
  transition-property: background, color;
  transition-duration: 0.2s;
}
.login_fields__submit input:focus {
  box-shadow: none;
  outline: none;
}
.login_fields__submit input:hover {
  color: white;
  background: #dc6180;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 0.2s;
}

/* Color Schemes */
.love {
  position: absolute;
  right: 20px;
  bottom: 0px;
  font-size: 11px;
  font-weight: normal;
}
.love p {
  color: white;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}
.love a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.love img {
  position: relative;
  top: 3px;
  margin: 0px 4px;
  width: 10px;
}

.brand {
  position: absolute;
  left: 20px;
  bottom: 14px;
}
.brand img {
  width: 30px;
}

.login input:-webkit-autofill,
.login input:-webkit-autofill:hover,
.login input:-webkit-autofill:focus,
.login input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #32364a inset !important;
}

.login input:-webkit-autofill {
  -webkit-text-fill-color: #afb1be !important;
}
